// load the base configuration
//exec default.cfg

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

// execute order 66
exec ckhud.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level. Remove this if you're using background images instead of maps
startupmenu